In [1]:
import pandas as pd

train_df = pd.read_csv('/kaggle/input/playground-series-s5e6/train.csv')
test_df = pd.read_csv('/kaggle/input/playground-series-s5e6/test.csv')
submission_df = pd.read_csv('/kaggle/input/playground-series-s5e6/sample_submission.csv')

print("Train DataFrame shape:", train_df.shape)
print("Test DataFrame shape:", test_df.shape)
print("Submission DataFrame shape:", submission_df.shape)

display(train_df.head())
display(test_df.head())
display(submission_df.head())

Train DataFrame shape: (750000, 10)
Test DataFrame shape: (250000, 9)
Submission DataFrame shape: (250000, 2)

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,1,27,69,65,Sandy,Millets,30,6,18,28-28
2,2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,4,35,58,43,Red,Paddy,37,2,16,DAP

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,750000,31,70,52,Sandy,Wheat,34,11,24
1,750001,27,62,45,Red,Sugarcane,30,14,15
2,750002,28,72,28,Clayey,Ground Nuts,14,15,4
3,750003,37,53,57,Black,Ground Nuts,18,17,36
4,750004,31,55,32,Red,Pulses,13,19,14

       id         Fertilizer Name
0  750000  14-35-14 10-26-26 Urea
1  750001  14-35-14 10-26-26 Urea
2  750002  14-35-14 10-26-26 Urea
3  750003  14-35-14 10-26-26 Urea
4  750004  14-35-14 10-26-26 Urea

In [2]:
print("Train DataFrame Info:")
train_df.info()
print("\nTest DataFrame Info:")
test_df.info()

print("\nMissing values in Train DataFrame:")
print(train_df.isnull().sum())

print("\nMissing values in Test DataFrame:")
print(test_df.isnull().sum())

print("\nDistribution of 'Fertilizer Name' in Train DataFrame:")
print(train_df['Fertilizer Name'].value_counts())

print("\nDescriptive statistics for numerical columns in Train DataFrame:")
display(train_df.describe())

print("\nDescriptive statistics for numerical columns in Test DataFrame:")
display(test_df.describe())

Train DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               750000 non-null  int64
 1   Temparature      750000 non-null  int64
 2   Humidity         750000 non-null  int64
 3   Moisture         750000 non-null  int64
 4   Soil Type        750000 non-null  object
 5   Crop Type        750000 non-null  object
 6   Nitrogen         750000 non-null  int64
 7   Potassium        750000 non-null  int64
 8   Phosphorous      750000 non-null  int64
 9   Fertilizer Name  750000 non-null  object
dtypes: int64(7), object(3)
memory usage: 57.2+ MB

Test DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           250000 non-null  int64
 1   Temparature  250000 non-null  int64
 2   Humidity     250000 non-null  int64
 3   Moisture     250000 non-null  int64
 4   Soil Type    250000 non-null  object
 5   Crop Type    250000 non-null  object
 6   Nitrogen     250000 non-null  int64
 7   Potassium    250000 non-null  int64
 8   Phosphorous  250000 non-null  int64
dtypes: int64(7), object(2)
memory usage: 17.2+ MB

Missing values in Train DataFrame:
id                 0
Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

Missing values in Test DataFrame:
id             0
Temparature    0
Humidity       0
Moisture       0
Soil Type      0
Crop Type      0
Nitrogen       0
Potassium      0
Phosphorous    0
dtype: int64

Distribution of 'Fertilizer Name' in Train DataFrame:
Fertilizer Name
14-35-14    114436
10-26-26    113887
17-17-17    112453
28-28       111158
20-20       110889
DAP          94860
Urea         92317
Name: count, dtype: int64

Descriptive statistics for numerical columns in Train DataFrame:

,id,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous
count,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000
mean,374999.500000,31.503565,61.038912,45.184147,23.093808,9.478296,21.073227
std,216506.495284,4.025574,6.647695,11.794594,11.216125,5.765622,12.346831
min,0.000000,25.000000,50.000000,25.000000,4.000000,0.000000,0.000000
25%,187499.750000,28.000000,55.000000,35.000000,13.000000,4.000000,10.000000
50%,374999.500000,32.000000,61.000000,45.000000,23.000000,9.000000,21.000000
75%,562499.250000,35.000000,67.000000,55.000000,33.000000,14.000000,32.000000
max,749999.000000,38.000000,72.000000,65.000000,42.000000,19.000000,42.000000

Descriptive statistics for numerical columns in Test DataFrame:

,id,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.00000
mean,874999.500000,31.491648,61.045120,45.190444,23.139612,9.487764,21.12206
std,72168.927986,4.024093,6.636372,11.793167,11.215956,5.766860,12.38087
min,750000.000000,25.000000,50.000000,25.000000,4.000000,0.000000,0.00000
25%,812499.750000,28.000000,55.000000,35.000000,13.000000,4.000000,10.00000
50%,874999.500000,31.000000,61.000000,45.000000,23.000000,10.000000,21.00000
75%,937499.250000,35.000000,67.000000,55.000000,33.000000,14.000000,32.00000
max,999999.000000,38.000000,72.000000,65.000000,42.000000,19.000000,42.00000

In [3]:
# Identify categorical columns
categorical_cols = ['Soil Type', 'Crop Type']

# Apply One-Hot Encoding to training data
train_df_encoded = pd.get_dummies(train_df, columns=categorical_cols, drop_first=False)

# Apply One-Hot Encoding to testing data
test_df_encoded = pd.get_dummies(test_df, columns=categorical_cols, drop_first=False)

# Separate target variable from training features
X_train = train_df_encoded.drop('Fertilizer Name', axis=1)
y_train = train_df_encoded['Fertilizer Name']

# Align columns - this is important to ensure both dataframes have the same columns
# after one-hot encoding, handling potential differences in categories
X_train, test_df_encoded = X_train.align(test_df_encoded, join='inner', axis=1)

print("Shape of X_train after encoding and aligning:", X_train.shape)
print("Shape of test_df_encoded after encoding and aligning:", test_df_encoded.shape)
print("\nFirst 5 rows of X_train:")
display(X_train.head())
print("\nFirst 5 rows of y_train:")
display(y_train.head())
print("\nFirst 5 rows of test_df_encoded:")
display(test_df_encoded.head())

Shape of X_train after encoding and aligning: (750000, 23)
Shape of test_df_encoded after encoding and aligning: (250000, 23)

First 5 rows of X_train:

,id,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Soil Type_Black,Soil Type_Clayey,Soil Type_Loamy,...,Crop Type_Cotton,Crop Type_Ground Nuts,Crop Type_Maize,Crop Type_Millets,Crop Type_Oil seeds,Crop Type_Paddy,Crop Type_Pulses,Crop Type_Sugarcane,Crop Type_Tobacco,Crop Type_Wheat
0,0,37,70,36,36,4,5,False,True,False,...,False,False,False,False,False,False,False,True,False,False
1,1,27,69,65,30,6,18,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,2,29,63,32,24,12,16,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,3,35,62,54,39,12,4,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,35,58,43,37,2,16,False,False,False,...,False,False,False,False,False,True,False,False,False,False

First 5 rows of y_train:

0       28-28
1       28-28
2    17-17-17
3    10-26-26
4         DAP
Name: Fertilizer Name, dtype: object

First 5 rows of test_df_encoded:

,id,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Soil Type_Black,Soil Type_Clayey,Soil Type_Loamy,...,Crop Type_Cotton,Crop Type_Ground Nuts,Crop Type_Maize,Crop Type_Millets,Crop Type_Oil seeds,Crop Type_Paddy,Crop Type_Pulses,Crop Type_Sugarcane,Crop Type_Tobacco,Crop Type_Wheat
0,750000,31,70,52,34,11,24,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,750001,27,62,45,30,14,15,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,750002,28,72,28,14,15,4,False,True,False,...,False,True,False,False,False,False,False,False,False,False
3,750003,37,53,57,18,17,36,True,False,False,...,False,True,False,False,False,False,False,False,False,False
4,750004,31,55,32,13,19,14,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [4]:
from sklearn.model_selection import train_test_split

X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(
    X_train, y_train, test_size=0.2, random_state=21, stratify=y_train
)

print("Shape of X_train_split:", X_train_split.shape)
print("Shape of X_val_split:", X_val_split.shape)
print("Shape of y_train_split:", y_train_split.shape)
print("Shape of y_val_split:", y_val_split.shape)

Shape of X_train_split: (600000, 23)
Shape of X_val_split: (150000, 23)
Shape of y_train_split: (600000,)
Shape of y_val_split: (150000,)

In [5]:
from lightgbm import LGBMClassifier

# Instantiate an LGBMClassifier model
# Using default parameters to start
lgbm_model = LGBMClassifier(random_state=21)

# Train the model
lgbm_model.fit(X_train_split, y_train_split)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.019679 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 471
[LightGBM] [Info] Number of data points in the train set: 600000, number of used features: 23
[LightGBM] [Info] Start training from score -1.884862
[LightGBM] [Info] Start training from score -1.880055
[LightGBM] [Info] Start training from score -1.897542
[LightGBM] [Info] Start training from score -1.911546
[LightGBM] [Info] Start training from score -1.909125
[LightGBM] [Info] Start training from score -2.067671
[LightGBM] [Info] Start training from score -2.094839

LGBMClassifier(random_state=21)

In [6]:
import numpy as np

def apk(actual, predicted, k=3):
    """
    Calculates the Average Precision at k for a single sample.

    Args:
        actual: The ground truth label (string).
        predicted: A list of predicted labels (strings), ordered by confidence.
        k: The maximum number of predictions to consider.

    Returns:
        The Average Precision at k.
    """
    if not actual:
        return 0.0

    # Ensure actual is a list for consistency with the mapk function structure
    actual = [actual]

    score = 0.0
    num_hits = 0.0

    for i, p in enumerate(predicted[:k]):
        # Check if prediction is relevant and not a duplicate
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i + 1.0)

    return score / min(len(actual), k)


def mapk(actual, predicted, k=3):
    """
    Calculates the Mean Average Precision at k.

    Args:
        actual: A list of ground truth labels (strings), one per sample.
        predicted: A list of lists of predicted labels (strings), one list per sample,
                   ordered by confidence.
        k: The maximum number of predictions to consider.

    Returns:
        The Mean Average Precision at k.
    """
    return np.mean([apk(a, p, k) for a, p in zip(actual, predicted)])

print("mapk function defined.")

mapk function defined.

In [7]:
# Get the predicted probabilities for each class on the validation set
y_pred_proba = lgbm_model.predict_proba(X_val_split)

# Get the list of class labels from the model
class_labels = lgbm_model.classes_

# For each sample, get the top 3 predicted class labels based on probabilities
predicted_labels = []
for probs in y_pred_proba:
    # Get the indices that would sort the probabilities in descending order
    top_k_indices = np.argsort(probs)[::-1][:3]
    # Get the corresponding class labels
    top_k_labels = [class_labels[i] for i in top_k_indices]
    predicted_labels.append(top_k_labels)

# Convert the actual validation labels to a list
actual_labels = y_val_split.tolist()

# Calculate the MAP@3 score
mapk_score = mapk(actual_labels, predicted_labels, k=3)

# Print the calculated MAP@3 score
print(f"Mean Average Precision @ 3 (MAP@3) on the validation set: {mapk_score:.4f}")

Mean Average Precision @ 3 (MAP@3) on the validation set: 0.3227

In [8]:
import numpy as np

# Use the trained model to predict class probabilities for the test set
test_pred_proba = lgbm_model.predict_proba(test_df_encoded)

# Get the list of class labels from the trained model
class_labels = lgbm_model.classes_

# For each test sample, get the indices of the top 3 probabilities in descending order
top_k_indices_test = np.argsort(test_pred_proba, axis=1)[:, ::-1][:, :3]

# Map these indices back to the actual class labels
predicted_fertilizers = []
for indices in top_k_indices_test:
    top_k_labels = [class_labels[i] for i in indices]
    # Join the top 3 predicted class labels into a single string, separated by spaces
    predicted_fertilizers.append(" ".join(top_k_labels))

# Create a DataFrame with 'id' from the original test_df and the predicted fertilizers
submission_predictions_df = pd.DataFrame({
    'id': test_df['id'],
    'Fertilizer Name': predicted_fertilizers
})

print("Submission predictions DataFrame created.")
display(submission_predictions_df.head())
submission_predictions_df.to_csv('submission.csv', index=False)

Submission predictions DataFrame created.

       id             Fertilizer Name
0  750000          DAP 14-35-14 28-28
1  750001  17-17-17 10-26-26 14-35-14
2  750002     20-20 10-26-26 14-35-14
3  750003      14-35-14 10-26-26 Urea
4  750004        20-20 28-28 10-26-26